.editorContainer  img{
    max-width: 100%;
}

.title {
    min-height: 50px;
    font-size: 35px;
    text-align: center;
    margin-top: 15px;
    align-items: center;
}

.date {
    font-size: 18px;
    text-align: right;
    align-items: center;
}