@import "~ng-devui/styles-var/devui-var.scss";
@import "~ng-devui/style/core/font";

.article {
  //color: $devui-text;
  background-color: $devui-base-bg;

  .bar {
    height: 50px;
    width: 80%;
    margin: 0px 10% 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    .tags {
      justify-content: left;
      zoom: 1.5;
    }
    .title {
      margin: 0 auto;
      //justify-content: center; /* 居中排列 */
    }
  }
  .main-item {
    font-size: 18px;
    width: 80%;
    margin: 5px 10% 10px;
    padding: 10px 20px 25px 20px;
    border: 1px solid $devui-brand;
    border-radius: 16px !important;
    box-shadow: 0 2px 4px 4px $devui-shadow; //定义元素的阴影。
  }
  .devui-backtop-custom {
    text-align: center;
    border-radius: 50%;
    background-color: $devui-brand;
    width: 40px;
    height: 40px;

    .icon-arrow-up {
      font-size: 16px;
      color: $devui-light-text;
      line-height: 40px;
    }
  }
}
