<div class="article">
    <div class="bar">
        <div class="tags">
            <ng-container *ngFor="let tag of tagList; let i = index">
                <d-tag [mode]="'checkable'" [(checked)]="tag.checked" [tag]="tag.name" [labelStyle]="tag.type">
                </d-tag>
            </ng-container>
        </div>

        <h1 class="title">{{headerJson.title}}</h1>
        <div>{{headerJson.date}}</div>
    </div>

    <div [innerHtml]="result" class="main-item"></div>

    <d-back-top [customTemplate]="customTemplate" [bottom]="'100px'">
        <ng-template #customTemplate>
            <div class="devui-backtop-custom" dTooltip [content]="'回到顶部'" [position]="'left'">
                <span class="icon icon-arrow-up"></span>
            </div>
        </ng-template>
    </d-back-top>
</div>