<div class="app-container">
  <div class="app-bar">
    <header>
      <a routerLink="/" routerLinkActive="active">
        <img src="../../assets/fan.ico" />
        <span class="text">dashuai</span>
      </a>
      <div class="main-nav">
        <a class="main-nav-item" routerLink="/list" routerLinkActive="active">
          <span>文章列表</span>
        </a>
        <a class="main-nav-item" routerLink="/tag" routerLinkActive="active">
          <span>分类标签</span>
        </a>
        <a class="main-nav-item" routerLink="/gsp" routerLinkActive="active">
          <span>几何画板</span>
        </a>
        <a class="main-nav-item" routerLink="/fsm" routerLinkActive="active">
          <span>FSM</span>
        </a>
        <!--
                  <a class="main-nav-item" target="_blank" rel="noopener noreferrer"
                      href="https://github.com/dashuai009/blog" routerLinkActive="active">
                      <span>博客代码</span>
                  </a>
              -->
        <span class="main-nav-item">
          <app-theme-picker></app-theme-picker>
        </span>
      </div>
      <div id="headerMenu" class="header-menu"><span></span></div>
    </header>
  </div>
  <router-outlet></router-outlet>
</div>