@import "~ng-devui/styles-var/devui-var.scss";
@import "~ng-devui/style/core/font";

.list-component {
  color: $devui-text;
  background-color: $devui-base-bg;

  d-tag {
    margin: 4px;
    zoom: 1.5;
  }
  .list-tag {
    display: inline-block;
    margin: 10px 20px 10px;
    width: 100%;
    background: linear-gradient(to right, rgb(222, 255, 130), rgb(160, 255, 247));
    padding: 14px;
    border-left: 6px solid #ccc !important;
    border-color: #2196f3 !important;
  }
  .list {
    .list-item {
      display: inline-block;
      margin: 10px 6px 10px;
      //float: left;
    }
  }
}
d-card {
  width: 330px;
  a {
    color: black;
    background: linear-gradient(to right, rgb(222, 255, 130), rgb(160, 255, 247));
  }

  .card-icon {
    cursor: pointer;
    font-size: $devui-font-size-icon;
    vertical-align: middle;

    &:not(:last-child) {
      margin-right: 8px;
    }
  }
  .action-text {
    color: $devui-aide-text;
  }
  &:hover {
    box-shadow: $devui-shadow-length-hover $devui-light-shadow;
  }
}
